<div class="alert alert-info">
  <%= render 'directions' %>
</div>
<div class="container">
<h1>
    <%= t('contact_form.header') %>
</h1>

<% if user_signed_in? %>
  <% em = current_user.email %>
<% else %>
  <% em = '' %>
<% end %>

<%= form_for @contact_form, url: contact_form_index_path do |f| %>
  <%= f.text_field :contact_method, type: 'hidden' %>

  <div class="form-group">
    <%= f.label :name, t('contact_form.name_label'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :name, class: 'form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :email, t('contact_form.email_label'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :email, value: em, class: 'form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :subject, t('contact_form.subject_label'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_field :subject, class: 'form-control', required: true %></div>
  </div>

  <div class="form-group">
    <%= f.label :message, t('contact_form.message_label'), class: "col-sm-2 control-label" %>
    <div class="col-sm-10"><%= f.text_area :message, rows: 4, class: 'form-control', required: true %></div>
  </div>

  <%= f.submit value: t('contact_form.button_label'), class: "btn btn-primary" %>
<% end %>
</div>