<div class="row">
  <div style="float: right; margin-right:20px">
    <label><%= t("hyrax.dashboard.batch_uploads.ingest_option_label") %></label>
    <select id="batch_upload_option" name="batch_upload_option" onchange="reload_batch_upload_form(this, '<%= new_batch_upload_path %>')">
      <% @batch_upload_options.each do |option| %>
        <option value="<%= option %>" <%= option == @batch_upload_option ? "selected" : "" %>><%= option %></option>
      <% end %>
    </select>
  </div>
</div>
