<% provide :page_header do %>
  <h1><span class="glyphicon glyphicon-ok-circle"></span> <%= t('.header') %></h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li class="active">
          <a href="#under-review" role="tab" data-toggle="tab" data-ids="<%= @status_list.map { |r| r.id }.to_json %>">
            <%= t('.tabs.under_review') %>
          </a>
        </li>
        <li>
          <a href="#published" role="tab" data-toggle="tab" data-ids="<%= @published_list.map { |r| r.id }.to_json %>">
            <%= t('.tabs.published') %>
          </a>
        </li>
        <li>
          <a href="#refined-by-batch" role="tab" data-toggle="tab">
            <%= t('hyrax.workflows.tabs.refined_by_batch') %>
          </a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="under-review" class="tab-pane active">
          <div class="panel panel-default labels">
            <div class="panel-body">
              <%= render "search_header" %>
              <div class="table-responsive">
                <table class="table table-condensed table-striped datatableworkflows">
                  <thead>
                    <tr>
                      <th width="40%">Work</th>
                      <th width="20%">Depositor</th>
                      <th width="20%">Submission Date</th>
                      <th width="20%">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @status_list.each do |document| %>
                      <tr>
                        <td>
                          <%= link_to document, [main_app, document] %>
                        </td>
                        <td>
                          <%= safe_join(document.creator, tag(:br)) %>
                        </td>
                        <td>
                          <%= document.date_modified %>
                        </td>
                        <td>
                          <span class="state state-pending"><%= document.workflow_state %></span>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div id="published" class="tab-pane">
          <div class="panel panel-default labels">
            <div class="panel-body">
              <%= render "search_header" %>
              <div class="table-responsive">
                <table class="table table-condensed table-striped datatableworkflows">
                  <thead>
                    <tr>
                      <th width="40%">Work</th>
                      <th width="20%">Depositor</th>
                      <th width="20%">Submission Date</th>
                      <th width="20%">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @published_list.each do |document| %>
                      <tr>
                        <td>
                          <%= link_to document, [main_app, document] %>
                        </td>
                        <td>
                          <%= safe_join(document.creator, tag(:br)) %>
                        </td>
                        <td>
                          <%= document.date_modified %>
                        </td>
                        <td>
                          <span class="state state-pending"><%= document.workflow_state %></span>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div id="refined-by-batch" class="tab-pane">
          <div class="panel panel-default labels">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-condensed table-striped datatableworkflows">
                  <thead>
                    <tr>
                      <th width="40%">Batch ID</th>
                      <th width="20%">Depositor</th>
                      <th width="20%">Files Location</th>
                      <th width="20%">Submission Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @batches.each do |batch| %>
                      <tr>
                        <td>
                          <%= link_to batch.batch_id, "javascript:window.location.href='#{admin_workflows_path}&q=&batch=#{batch.batch_id}'", class: "batch_upload_row" %>
                        </td>
                        <td>
                          <%= batch.user %>
                        </td>
                        <td>
                          <span><%= batch.files_path %></span>
                        </td>
                        <td>
                          <%= batch.created_at %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "workflow_actions_widget" %>
